<div class="container pt-2">
  <div class="side-bar col-sm-3">
    <h3>Chat</h3>
    <div class="search-bar w-100 d-flex">
      <span class="p-input-icon-left w-100">
        <i class="pi pi-search ps-1"></i>
        <input type="text" class="rounded-4 p-1" pInputText />
      </span>
    </div>
    <div
      class="reciepient rounded-3 m-1 px-2 d-flex align-items-center"
      *ngFor="let user of listUsers"
      (click)="selectUser(user)"
    >
      <img src="{{ user.userAvatar }}" alt="" class="rounded-circle px-2" />
      <div class="content">
        <div class="name">{{ user.userName }}</div>
      </div>
    </div>
  </div>
  <div class="boxchat col-sm-9" *ngIf="currentUser">
    <div class="chat-header p-2 m-1 rounded-3">
      <img
        src="{{ currentUser.userAvatar }}"
        alt=""
        class="rounded-circle px-2"
      />
      <div class="name">{{ currentUser.userName }}</div>
    </div>
    <div class="chat-content" id="boxchat">
      <div
        *ngFor="let message of listMessage"
        class="d-flex m-2 mx-4"
        [ngClass]="{ 'sender-message': senderID === message.senderID }"
      >
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          pBadge
          class="d-flex align-items-center"
        ></p-avatar>

        <div class="message-content rounded-3 p-2 m-1 mx-2">
          {{ message.content }}
        </div>
        <div class="time p-2 my-auto">
          {{ message.timestamp | date : "dd/MM/yyyy" }}
        </div>
      </div>
    </div>
    <div class="input-message">
      <span>
        <input
          type="text"
          [(ngModel)]="message"
          (keydown.enter)="sendMessage()"
          placeholder="Nhập tin nhắn ..."
        />
        <button (click)="sendMessage()" [disabled]="!message">
          Gửi
          <i class="ps-1 bi bi-send"></i>
        </button>
      </span>
    </div>
  </div>
</div>
