<app-header></app-header>
<div class="container-fluid row">
  <div class="col-sm-2 col-md-1 h-100"></div>
  <div class="col-sm-8 col-md-10 h-100">
    <form class="bg-white h-100" id="form-container">
      <div class="mb-4 pt-4 d-flex justify-content-center align-items-center">
        <div class="shelter-logo d-flex justify-content-center align-items-center">

          <i class="pi pi-image" style="font-size: 3rem"></i>
        </div>
      </div>
    </form>
  </div>
  <div class="col-sm-2 col-md-1 h-100"></div>
</div>
