*{
  margin: 0;
  padding: 0;
}
img{
  min-width: 100px;
  height: 50px;
  object-fit: contain;
}
.container-fluid img{
  max-width: 10vw;
  height: 10vh;
}

#btn-sign-up{
  background-color: var(--primary-color);
  border-radius: 30px;
}
#btn-sign-up {
  a{
    color: wheat;
  }
}

.navbar-nav {
   li {
    a{
      color: black;
      font-size: large;
      font-size: 20px;
      font-weight: 530;
      cursor: pointer;
   }
  }
}

.nav-link {
  display: inline-block;
  position: relative;
  color: var(--primary-color);
  &::after{
    content: '';
    position: absolute;
    width: 60%;
    transform: scaleX(0);
    height: 2px;
    left: 20px;
    bottom: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
