<nav class="navbar navbar-expand-sm bg-body-tertiary">
  <div class="container-fluid">
    <img
          class="me-3"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav m-auto mb-lg-0">
        <li class="nav-item m-2">
          <a class="nav-link" href="#" >Trang chủ</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#" >Cứu trợ</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">Nhận nuôi</a>
        </li>
        <li class="nav-item m-2">
          <a class="nav-link" href="#">Ủng hộ</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-3 me-2 mb-lg-0">
        <li class="nav-item" >
          <a class="nav-link" [routerLink] = "['login']">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink] = "'register'">Đăng ký</a>
        </li>
        </ul>
    </div>
  </div>
</nav>
