<div
  *ngIf="isLoading"
  class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
>
  <div class="spinner-border" role="status">
    <span class="sr-only">Đang tải...</span>
  </div>
  <p style="opacity: 0.7">Đang tải</p>
</div>
<div
  class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
  style="
    max-height: 400px;
    object-position: center;
    background-image: url(https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Logo%2Fuser_profile_cover.jpg?alt=media&token=d381e1f7-62d6-42c3-aca1-e587ae47ff25);
    background-size: cover;
    background-position: center top;
  "
>
  <!-- Mask -->
  <span class="mask bg-gradient-primary opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello Jesse</h1>
        <p class="text-white mt-0 mb-5">
          This is your profile page. You can see the progress you've made with
          your work and manage your projects or assigned tasks
        </p>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <!-- card-info -->
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div
            class="card-profile-image rounded-circle d-flex justify-content-center"
          >
            <img src="{{ user.userAvatar }}" class="rounded-circle" />
          </div>
        </div>

        <!-- card-info -->
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div
                class="card-profile-stats d-flex justify-content-center mt-md-5"
              ></div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              {{ user.userFirstName + " " + user.userLastName }}
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>Bucharest, Romania
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Solution Manager -
              Creative Tim Officer
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>University of Computer
              Science
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- detail-info -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Tài khoản</h3>
            </div>
            <div class="col-lg-4 text-right">
              <button class="btn btn-primary">Sửa thông tin</button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Thông tin cá nhân</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username"
                      >Email</label
                    >
                    <input
                      type="text"
                      id="input-username"
                      class="form-control form-control-alternative"
                      placeholder="Username"
                      value="{{ user.userEmail }}"
                      disabled="true"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email"
                      >Họ và tên</label
                    >
                    <input
                      type="email"
                      id="input-email"
                      class="form-control form-control-alternative"
                      value="{{ user.userFirstName + ' ' + user.userLastName }}"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name"
                      >Số điện thoại</label
                    >
                    <input
                      type="text"
                      id="input-first-name"
                      class="form-control form-control-alternative"
                      placeholder="First name"
                      value="{{ user.phoneNumber }}"
                    />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name"
                      >Số điện thoại</label
                    >
                    <input
                      type="text"
                      id="input-last-name"
                      class="form-control form-control-alternative"
                      placeholder="Last name"
                    />
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
          </form>
          <h6 class="heading-small text-muted mb-4">Thú cưng đang nhận nuôi</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
