:host {
  display: flex;
}
.side-filter {
}

.list-pet {
  position: relative;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

@media (max-width: 650px) {
  .list-pet {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
