:host::ng-deep {
  .p-checkbox .p-checkbox-box.p-highlight,
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: var(--primary-color);
  }

  .p-radiobutton .p-radiobutton-box.p-highlight,
  .p-radiobutton:not(.p-radiobutton-disabled)
    .p-radiobutton-box.p-highlight:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: var(--primary-color);
  }
  .p-paginator {
    background: transparent;
    border: none;
  }
  .p-breadcrumb {
    width: fit-content;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #f1ac57;
  }
  .p-breadcrumb ul li .p-menuitem-link .p-menuitem-text {
    color: #fffafa;
  }
  .p-breadcrumb ul li.p-breadcrumb-chevron {
    color: #fffafa;
  }
}

.search-bar {
  span {
    width: 25vw;
  }
}

.pet-list {
  width: 83vw;
  min-height: 51vh;
  box-sizing: border-box;
}

label {
  padding-left: 5px;
}

@media (max-width: 649.98px) {
  .side-filter {
    h4 {
      font-size: 16px;
    }
  }
  .pet-list {
    width: 75vw;
  }
}
