<div class="container-fluid row">
  <div class="col-sm-5 col-md-4 h-100">
    <div class="bg-secondary h-20" id="header-background"></div>
    <div class="bg-white" id="form-container">
      <div class="logo mb-4 pt-4 d-flex justify-content-center align-items-end">
        <img
          class="mt-4"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />
      </div>
      <div class="d-flex justify-content-center p-2">
        <asl-google-signin-button
          type="standard"
          size="large"
          s
        ></asl-google-signin-button>
      </div>
      <div class="d-flex justify-content-center p-2">
        <p>Hoặc</p>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h5>Email</h5>
          <input class="inputtext ps-1" id="float-input" type="text" pInputText />
        </span>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h5>Password</h5>
          <p-password class="inputtext ps-1" [toggleMask]="true"></p-password>
        </span>
      </div>
      <div class="forgot-password d-flex justify-content-center">
        <div class="d-flex">
          <div class="ms-auto">
            <a class="fw-light fs-9" href="#">Quên mật khẩu</a>
          </div>
        </div>
      </div>
      <div class="btn-container d-flex justify-content-center pt-4">
        <button type="button" class="text-nowrap rounded-3">
          Đăng nhập
        </button>
      </div>
      <div class="sign-up d-flex justify-content-center mt-2">
        <div>
          <p>Bạn đã có tài khoản? <a routerLink="/register">Đăng nhập ngay</a></p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="side-background col-sm-7 col-md-8 bg-secondary h-100 rounded-start-5"
  ></div>
</div>
