<div class="container-fluid row">
  <div class="col-sm-4 h-100">
    <div class="bg-secondary h-20" id="header-background"></div>
    <div class="bg-white" id="form-container">
      <div class="logo mb-4 pt-4 d-flex justify-content-center align-items-end">
        <img class="mt-4"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />
      </div>
      <!-- <div class="m-4 p-2 d-flex justify-content-center align-items-center">
        <div class="bg-grey-600 d-flex h-100 w-50 rounded-2 mt-4" id="sign-in-gg">
          <img src="assets/icon/google-color-icon.svg">
          <p class="ms-auto p-2 pe-2"><a href="">Đăng nhập bằng Google</a></p>
        </div>
      </div> -->
      <asl-google-signin-button type='standard' size='large' s></asl-google-signin-button>
      <div class="d-flex justify-content-center p-2">
        <p>Hoặc</p>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4">
          <input id="float-input" class="ps-1" type="text" pInputText />
          <label class="fw-semibold" for="float-input">Username</label>
        </span>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <input id="float-input" class="ps-1" type="password" pInputText />
          <label class="fw-semibold" for="float-input">Password</label>
        </span>
      </div>
      <div class="forgot-password d-flex justify-content-center">
        <div class="d-flex">
          <div class="ms-auto">
            <a class="fw-light fs-9" href="#">Quên mật khẩu</a>
            </div>
        </div>
      </div>
      <div class="btn-container d-flex justify-content-center pt-4">
        <button type="button" class="btn btn-primary text-nowrap btn-lg rounded-3" >Đăng nhập</button>
      </div>
      <div class="sign-up d-flex justify-content-center mt-2">
        <div>
          <p>Bạn chưa có tài khoản? <a href="#">Đăng ký ngay</a></p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="side-background col-sm-8 bg-secondary h-100 rounded-start-5"
  >
  <!-- <img class="w-100 h-100 rounded-start-5"
          src="https://i.ibb.co/J2wsnZJ/jonas-vincent-xul-IYVIb-YIc-unsplash-2.jpg"
          alt="Logo"
        /> -->

</div>
</div>
