@import "~primeicons/primeicons.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeng/resources/themes/nova/theme.css";

:root {
  --primary-color: #7a3d26;
  --offwhite-color: #fafafa;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .btn-primary {
    border-radius: 10px;
    max-height: 60px;
    min-height: 40px;
    height: 6vh;
    width: 20vw;
    background-color: var(--primary-color);
    border: none;
  }
  .btn-secondary {
    border-radius: 10px;
    max-height: 60px;
    min-height: 40px;
    height: 6vh;
    width: 20vw;
    background-color: var(--offwhite-color);
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
  }
  .p-inputtext,
  .inputtext {
    // border: solid 2px;
    width: 100%;
    border-radius: 7px;
    &:focus {
      box-shadow: none;
      border-color: var(--primary-color);
    }
  }
  .p-dropdown {
    width: 100%;
    border: solid 2px;
    border-radius: 7px;
  }
  .p-checkbox .p-checkbox-box.p-highlight,
  .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    box-shadow: var(--primary-color);
  }
  .p-divider-solid.p-divider-horizontal:before{
    border: 0.01rem solid #7a3d26;
  }
  .p-divider.p-divider-horizontal {
    margin: 0;
  }
  
  .p-toast .p-toast-message {
    background-color: transparent;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    min-width: fit-content;
    .p-toast-message-success {
      background-color: aquamarine;
    }
    .p-toast-message-content{
      background-color: #F6F6F6;
      padding: 2rem;
    }
  }
  .p-button.p-button-success, 
  .p-buttonset.p-button-success > .p-button, 
  .p-splitbutton.p-button-success > .p-button {
    border-radius: 10px;
    background-color: var(--primary-color);
    border: none;
  }
  .p-button.p-button-secondary, 
  .p-buttonset.p-button-secondary > .p-button, 
  .p-splitbutton.p-button-secondary > .p-button{
    border-radius: 10px;
    background-color: var(--offwhite-color);
    border: solid 3px var(--primary-color);
    color: var(--primary-color);
  }
}

* {
  font-family: "Nunito", sans-serif;
}
