<form class="container" [formGroup]="addPetForm">
  <img src="" alt="" />
  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <b>Thông tin</b>
    </div>
  </p-divider>
  <div class="d-flex justify-content-start w-100">
    <div class="detail-info m-4 my-2 w-100">
      <span class="p-float-label">
        <h6 class="addressLabel ps-0">Giống</h6>
        <input
          class="inputtext ps-1 w-100"
          type="text"
          formControlName="petBreed"
        />
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel ps-0">Giới tính</h6>
        <p-dropdown
          [filter]="true"
          [options]="genderOptions"
          optionLabel="genderOptions.value"
          [autoDisplayFirst]="false"
          formControlName="petGender"
        >
        </p-dropdown>
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel ps-0">Màu sắc</h6>
        <input
          class="inputtext ps-1 w-100"
          type="text"
          formControlName="petColor"
        />
      </span>
      <span class="p-float-label">
        <h6 class="addressLabel ps-0">Tuổi</h6>
        <input
          class="inputtext ps-1 w-100"
          type="text"
          formControlName="petAge"
        />
      </span>
    </div>
  </div>
  <div class="text-area m-4 my-2 w-100">
    <textarea name="" id="" pInputTextarea [autoResize]="true"></textarea>
  </div>
  <div class="pet-status">
    <p-divider align="left">
      <div class="inline-flex align-items-center">
        <b>Tình trạng</b>
      </div>
    </p-divider>
    <div class="checkbox-container m-4 my-2 w-100">
      <div *ngFor="let status of listStatus" class="field-checkbox p-1">
        <p-checkbox
          class="pe-2"
          name="group"
          [value]="status"
          [inputId]="status.id"
          (onChange)="onStatusChange($event)"
        ></p-checkbox>
        <label [for]="status.id">{{ status.value }}</label>
      </div>
    </div>
  </div>
  <div class="pet-image">
    <p-divider align="left">
      <div class="inline-flex align-items-center">
        <b>Ảnh</b>
      </div>
    </p-divider>
    <div class="d-flex justify-content-center w-100">
      <p-fileUpload
        name="file[]"
        class="w-100 m-4 my-1"
        name="demo[]"
        [multiple]="true"
        [maxFileSize]="10000000"
      >
        <ng-template pTemplate="content">
          <!-- <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
              {{ file.name }} - {{ file.size }} bytes
            </li>
          </ul> -->
        </ng-template>
      </p-fileUpload>
    </div>
  </div>
  <div class="button-group"></div>
</form>
